.cta {
  display: grid;
  gap: 1rem;
  padding-block: 3rem;
  padding-inline: var(--page-gutter);
  background: var(--color-secondary);
  color: white;
  text-align: center;

  & h2,
  & p {
    color: white;
  }

  & > * {
    max-inline-size: 720px;
    margin-inline: auto;
  }
}
